<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.examples_animations">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EXAMPLES_Animations">
        <activity
            android:name=".StartActivityUsingAnimationActivity2"
            android:parentActivityName=".StartActivityUsingAnimationActivity" />
        <activity
            android:name=".StartActivityUsingAnimationActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AnimateLayoutChangesUsingTransitionActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AutoAnimateLayoutUpdatesActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AnimateMovementWithSpringAnimationActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".EnlargeViewWithZoomAnimationActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MoveViewsUsingFlingAnimationActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MoveViewWithAnimationActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DrawableOrRevealHideActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>